<script>
  $(document).ready(function(){
     var selected = $("#actionSelect").val();
     if(selected == "DayOff" || selected == "Sick leave"){
        $("#hoursNf").attr('disabled','disabled');
     }
     else{
        $("#hoursNf").removeAttr('disabled');
     }

     $("#actionSelect").change(function(){
        if($(this).val() == "DayOff" || $(this).val() == "Sick leave"){
          $("#hoursNf").attr('disabled','disabled');
        }
        else{
          $("#hoursNf").removeAttr('disabled');
        }
     })
  });
</script>

<%= form_for [ @company, @schedule ] do |f| %>
  <div class="field">
    <%= f.label :action %>
    <%= f.select :action, options_for_select(Schedule::ACTION_OPTIONS), {} ,:id => "actionSelect" %>
  </div>

  <div class="field">
    <%= f.label :hours %>
    <%= f.number_field :hours, :value => 0, :step => 0.5, :id => "hoursNf" %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
