<p id="notice"><%= notice %></p>

<h1 align="center">My Schedules</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Action</th>
        <th>Hours</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      <% @schedules.each do |schedule| %>
        <tr>
          <td><%= schedule.action %></td>
          <td>
              <% if schedule.hours == 0 || schedule.hours.nil? %>
                /
              <% else %>
                <%= schedule.hours %>
              <% end %>
          </td>
          <td><%= schedule.date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Schedule', new_user_schedule_path, class: 'btn btn-primary btn-lg' %> <br><br>

<%= link_to "Back", :back, class: 'btn btn-default btn-sm' %>